body{
    background-image:url("../images/image1.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}
h1.title{
    color:red;
    font-size: 50px;
    font-weight: bold;
    font-family:"Impact";
    text-align: center;
    background-color: black;
}