body{
    background-image:url("../images/image1.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}
h1.title{
    color:red;
    font-size: 50px;
    font-weight: bold;
    font-family:"Impact";
    text-align: center;
    background-color: black;
}
h2.manga{
    color:black;
    font-size: 30px;
    font-weight: bold;
    font-family:"Impact";
    text-align: center;
   background-color: aqua
}
h2.AAA{
    color:black;
    font-size: 30px;
    font-weight: bold;
    font-family:"Impact";
    text-align: center;
   background-color:aquamarine
}
h1.rinku{
    color:red;
    font-size: 50px;
    font-weight: bold;
    font-family:"Impact";
    text-align: center;
    background-color:floralwhite;
}